language: python
python:
  - 3.7
install:
  - pip install tox-travis
jobs: 
  include:
    - name: "Run unittests"
      env:
      - TOXENV=unittest
    - name: "Run project tests"
      env:
      - TOXENV=projecttest
script:
  - tox