from hypergol import BaseData
{% if datamodelType.doAddList -%}
from typing import List
{% endif -%}
{% for dependency in datamodelType.dependencies -%}
    from {{ dependency.importName }} import {{ dependency.name }}
{% endfor %}

class {{ datamodelType.name }}(BaseData):

    def __init__(self, {%- for member in datamodelType.members %}{{ member.name }}: {{ member.type }}{% if not loop.last %}, {% endif %}{%- endfor %}):
{%- for member in datamodelType.members %}
        self.{{ member.name }} = {{ member.name }}
{%- endfor %}
